*{
    border: 2px solid red;
}

.lista-sin-decoracion li{
    list-style: none;

}

.heading {
    background-image: url(./img/menu-semanal.jpg);
    height: 100px;
    width: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.lista.recetas{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    margin: 0 auto;
}

.imagen {
    width: 400px;
    margin: 0 auto;
    
}

.pierna-cordero{
    height: 300px;
    width: auto;
}

.garbanzos-espinacas{
    height: 300px;
    width: auto;
}

.sopa-marisco{
    height: 300px;
    width: auto;
}